<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hangman App</title>
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src = "app.js"></script>


  </head>
  <body ng-app = "HangmanApp" ng-controller = "GameController">
    <div>
      <div class="">
        Guesses left :: {{guesses}}
      </div>
      <div>
        Your Incorrect Guesses  ::
        <span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span>
      </div>
      <div>
        Your correct Guesses  :: <span ng-repeat="letter in correctLettersChosen">{{letter}}</span>
      </div>
      <div>
        You have to guess: {{displayWord}}
      </div>

      <div>
        <div>
          <input type="text" name="guess" ng-model= "input.letter">
          <button ng-click= "letterChosen()">Submit</button>
        </div>
      </div>

    </div>
  </body>
</html>
